html { 
 background-color: yellow; /*no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*The top section.*/


img {
    margin-top: 200px;
    
     
}

/*The middle section.*/
h1 {
    font-size: 80px;
    background-color: chocolate;
    color: black;
    border: 10px;
    font-family: sans-serif;
}
#start_button {
    background-color: red;
color: yellow;
}
/*gameIndex.*/
.question_wrapper {
    height: 50px;
        background-color: chocolate;
    }

    .answer_wrapper {
        margin-top: 70px;
        height: 200px;
            background-color: chocolate;
        }

 

 

/*The bottom section.*/